@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');


*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

:root{
	--white: #ffffff;
	--bg-gray: #ced4da;
	--black: #212529;
	--light-black: #343a40;
}

body{
	margin: 0;
	padding: 0;
	overflow-y: none;
	scroll-behavior: smooth;
}
hr{
	border: 1px solid none;
	background-color: var(--bg-gray) !important;
}
.code {
	background-color: #e0dfdf;
	width: 100%;
	height: max-content;
}

div.wrapper{
	width: 100%;
	height: 100vh;
	position: relative;
}

div.wrapper aside{
	height: 100vh;
	width: 25%;
	display: block !important;
	background-color: var(--white);
}

div.wrapper aside .logo > a i{
	font-size: 45px;
}

div.wrapper aside > div.list-group .list-group-item{
	font-size: 14px;
	font-weight: 600;
	color: var(--black);
	cursor: pointer;
}
div.wrapper aside > div.list-group .active{
	color: var(--white);
	background-color: var(--black);
	font-weight: 500;
}
div.wrapper .main{
	width: 75%;
	overflow: scroll;
}
div.wrapper .main .alert{
	width: max-content;
	font-size: 14px;
	font-weight: 500;
}
div.wrapper .main p.description{
	font-size: 15px;
	max-width: 100%;
	min-width: max-content;
}
div.wrapper .main .list-group >li.list-group-item{
	font-size: 13.5px;
	font-weight: 500;
}

@media screen and (max-width: 991px){
	div.wrapper aside{
	width: max-content;
	display: none;
}	
div.wrapper .main{
	width: 100%;
	overflow: scroll;
}
div.wrapper aside > div.list-group{
	width: max-content;
}
div.wrapper .main p.description{
	font-size: 14px;
}
}

